{{#partial "title"}}
    Civil Main Page
{{/partial}}

{{#partial "header"}}
    {{> layouts/frame/bs_header }}
{{/partial}}
{{#partial "body"}}
<div class="container">
    <div id="content-wrapper" class="clearfix row">
        <div class="content-full full-width twelve columns">
            <div id="content">
                <div id="home-content" class="clearfix row">
                    <section class="col-md-8">
                        <form method="POST" enctype="multipart/form-data" action="/upload/submit">
                            File to upload: <input type="file" name="file" id="file"><br/>
                            Name: <input type="text" name="name" id="name"><br/>
                            <input type="submit" value="Upload" name="upload" id="upload"> Press here to upload  the file!
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{{/partial}}


{{> layouts/frame/bootstrap_frame }}
