{{#partial "title"}}
    Civil Main Page
{{/partial}}

{{#partial "header"}}
    {{> layouts/frame/bs_header }}
{{/partial}}
{{#partial "body"}}
    <div class="container">
        <div id="content-wrapper" class="clearfix row">
            <div class="content-full full-width twelve columns">
                <div id="content">
                    <div id="home-content" class="clearfix row">
                        <section class="col-md-8">
                            <form method="POST" enctype="multipart/form-data" action="/upload/image/upload-cdn">
                                Image to upload: <input type="file" name="file" id="file"><br/>
                                <input type="submit" value="Upload" name="upload" id="upload">
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}


{{> layouts/default/include/base_layout }}
