{{#partial "title"}}
    Civil
{{/partial}}
{{#partial "includeResources"}}
{{/partial}}
{{#partial "body"}}
  <div>
      {{default summerNoteHtml ""}}
  </div>
{{/partial}}
{{#partial "script"}}

{{/partial}}
{{> layouts/default/include/base_layout }}