<!doctype html>
<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{assetScript "/resources/js/lib/jquery/jquery-1.9.1.min.js"}}
    {{#block "includeResources"}}{{/block}}
</head>
<body>

{{#block "body"}}{{/block}}

{{#block "script"}}{{/block}}
</body>
</html>
