<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="main_page_li"><a href="/">{{i18n "home"}}</a></li>
                        <li id="create_project_li"><a href="/project/create/project">{{i18n "main.button1"}}</a></li>
                        <li id="list_project_li"><a href="/project/list/published/projects">{{i18n "main.button2"}}</a></li>
                        <li id="app_center_li"><a href="/application-center/others/lists">{{i18n "main.button3"}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>
